@import "$assets/scss/variables";

:root {
  --screenOverflowY: auto;
}

body, html, #root {
  height: 100%;
  overflow-x: hidden;
  overflow-y: var(--screenOverflowY);
  word-wrap: break-word;
}

#root {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  background-color: $black;
}

::-webkit-scrollbar-thumb {
  border-radius: $borderRadiusMin;
  background-color: $orange;
}
