@import "$assets/scss/variables";

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  background-color: $black;
}

::-webkit-scrollbar-thumb {
  border-radius: $borderRadiusMin;
  background-color: $orange;
}
