@import "$assets/scss/variables";

.modalAddForm {
  position: relative;
  z-index: 1;
  width: 600px;

  .modalAddForm_text {
    @extend %commonHeadItemStyles;

    width: 100%;
    min-height: 120px;
    padding: 15px 30px;
    font-size: $pageSumTitleText;
    border-radius: $borderRadius;
    border: 2px solid transparentize($black, 0.8);
    resize: vertical;

    &.error {
      border-color: $red;
    }
  }

  .modalAddForm_errorText {
    font-size: $textSize;
    color: $red;
  }

  .modalAddForm_submit {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-weight: bold;
    font-size: $pageSumTitleText;
    text-align: center;
    border-radius: $borderRadius;
    color: $whiteColor;
    background-color: $primary;
    cursor: pointer;
    transition: $transitionTime;

    input {
      cursor: inherit;
    }

    &:not(.disabled):hover {
      background-color: $secondary;
    }

    &.disabled {
      background-color: darken($lightGrey, 5);

      input {
        color: $black;
      }
    }
  }
}
