.githubContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.centerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
