@import "$assets/scss/mixins";
@import "$assets/scss/variables";

.footer {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  background-color: $whiteColor;
}

.footerContainer {
  padding: 20px;
  align-items: center;
}

.githubContainer {
  @include dflex(space-evenly, center);

  flex-wrap: nowrap;
  gap: 10px;
}

.centerBox {
  @include dflex(center, center);

  gap: 10px;
}
