@import "$assets/scss/variables";

.profile__confirmModal {
  .profile__confirmModal_title {
    font-size: 20px;
  }
  .profile__confirmModal_buttonsWrapper {
    justify-content: space-between;
  }

  .profile__confirmModal_red,
  .profile__confirmModal_green {
    width: 49%;
    margin: 0;
    color: $whiteColor;
  }

  .profile__confirmModal_red {
    background-color: $red;

    &:hover {
      background-color: darken($red, 15);
    }
  }
  .profile__confirmModal_green {
    background-color: green;

    &:hover {
      background-color: darken(green, 15);
    }
  }
}
