@import "$assets/scss/mixins";

.welcome {
  background-color: grey;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: 24;
  padding: 40px;
}

.developer {
  @include dflex(center, center);

  flex-direction: column;
  padding: 8px;
  margin-bottom: 10px;
  width: 30%;
  height: 200px;
}
