@import-normalize;

@import "$assets/scss/variables";
@import "$assets/scss/mixins";

@include font-face("Roboto", "$assets/fonts/RobotoRegular");
@include font-face("Roboto", "$assets/fonts/RobotoMedium", 500);
@include font-face("Roboto", "$assets/fonts/RobotoBold", bold);

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font: 16px / 1.5 "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: $black;
  background-color: $lightGrey;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

svg,
img {
  display: block;
  max-width: 100%;
}

button,
input[type="submit"] {
  display: block;
  outline: none;
  transition: $transitionTime;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: $transitionTime;
}
