@import "$assets/scss/variables";

.modalForm {
  position: relative;
  z-index: 1;
  width: $modalFormWidth;

  .modalForm_description > div {
    padding: 0;
  }

  .modalForm_element {
    @extend %modalElement;

    margin-bottom: 15px;
  }

  .modalForm_errorText {
    @extend %formError;
    margin-bottom: 15px;
  }

  .modalForm_submit {
    @extend %submitButton;
  }
}
