@import "$assets/scss/variables";
@import "$assets/scss/mixins";

div.columnsList,
ul.columnsList {
  @include dflex(flex-start, flex-start);

  flex-wrap: nowrap;
  flex-grow: 1;
  margin-top: 32px;
  padding: 0;
  overflow-y: hidden;

  .columnsList__item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    flex-shrink: 0;
    width: 335px;
    max-height: calc(100% - 5px);
    padding: 12px 15px;
    box-shadow: $boxShadow;
    border-radius: $borderRadiusBig;
    color: $black;
    background-color: $columnBg;
    list-style-type: none;
    overflow: hidden;

    & ~ .columnsList__item,
    & ~ .columnsList__itemButton {
      margin-left: 53px;
    }
  }

  .columnsList__item_title {
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
    font-size: $bigTextSize;
    line-height: 1.5;
    color: $black;
    word-wrap: break-word;
    cursor: pointer;
  }

  .columnsList__item_rename {
    @include dflex(flex-start, stretch);

    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    &_input {
      width: 70%;
      padding: 2px 5px;
      font-size: $textSize;
      border: 1px solid transparentize($black, 0.5);
      border-radius: $borderRadiusMin 0 0 $borderRadiusMin;
      line-height: 1.5;
      color: $black;
      background-color: $whiteColor;
    }

    &_buttons {
      width: 30%;
      border-radius: 0 $borderRadiusMin $borderRadiusMin 0;
    }

    &_accept,
    &_cancel {
      min-width: auto;
      width: 50%;
      margin: 0;

      svg {
        fill: $whiteColor;
      }
    }

    &_accept {
      background-color: $green;
      border-radius: 0;
    }

    &_cancel {
      background-color: $red;
    }
  }

  .columnsList__item_addTaskButton {
    font-weight: 500;
    font-size: 18px;
    color: $black;
  }

  .columnsList__itemButton {
    width: max-content;
    min-width: 335px;
    padding: 0;
  }

  .columnsList__item_addButton {
    @extend %commonHeadItemStyles;

    padding: 12px 25px;
    font-weight: bold;
    font-size: $bigTextSize;
    line-height: 1.5;
    color: $black;
  }
}
