@import "$assets/scss/variables";
@import "$assets/scss/mixins";

.lightBox {
  @include dflex();

  height: 100%;
  padding: 10px 0;
  overflow-y: auto;

  &__wrapper {
    position: relative;
    padding: 45px 37px 37px;
    margin: auto;
    background-color: $whiteColor;
    border-radius: $borderRadiusMin;
  }

  button.lightBox__wrapper_closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__wrapper_title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: $pageTitleText;
    line-height: 1.3;
    text-align: center;
  }
}
