@import '$assets/scss/mixins';

div.Auth.MuiGrid-root {
  @include dflex();
}

h3.Auth.MuiTypography-root {
  text-align: center;
}

div.Auth.MuiContainer-root {
  width: 350px;
}

div.Auth.MuiFormControl-root {
  width: 280px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
}

button.Auth.MuiButton-contained {
  width: 280px;
  height: 50px;
  margin-top: 10px;
}

div.wrapperToChangeSortOfAuth.MuiGrid-root {
  margin-top: 5px;
}
