@import '$assets/scss/mixins';

div.Auth.MuiGrid-root {
  @include dflex();
}

h3.Auth.MuiTypography-root {
  text-align: center;
}

div.Auth.MuiContainer-root {
  width: 350px;
}

div.Auth.MuiFormControl-root {
  width: 280px;
  margin: 10px;
}

div.Auth.MuiFormControl-root {
}

button.Auth.MuiButton-contained {
  width: 280px;
  height: 50px;
}
