@import '$assets/scss/variables';
@import '$assets/scss/mixins';

.authPage {
  .authPage__title {
    @extend %pageTitle;

    margin-bottom: 50px;
  }

  .authPage__loader {
    width: fit-content;
    margin: 30px auto;
  }

  .authForm {
    width: 100%;
    max-width: $formAuthSize;
    margin: 0 auto;
  }

  .authForm_element {
    @extend %modalElement;
  }

  .authForm_errorText {
    @extend %formError;
  }

  .authForm__text {
    text-align: center;

    .authForm__text_linkToChangeSortOfAuth {
      display: inline-block;
      margin-left: 5px;
      font-weight: bold;
      text-decoration: none;
      transition: color $transitionTime;

      &:hover {
        color: $secondary;
      }
    }
  }

  .authForm_submit {
    @extend %submitButton;
  }
}
