@import '$assets/scss/variables';
@import '$assets/scss/mixins';

.authorization {
  &__error_message {
    color: $red;
  }

  &__error_message::before {
    display: inline;
    content: '⚠ ';
  }

  &__form {
    @include dflex();
  }
}
